.DS_Store
app/.coverage
app/melchior/__pycache__
app/melchiorapp/__pycache__
app/melchiorapp/consts/__pycache__
app/melchiorapp/exceptions/__pycache__
app/melchiorapp/messages/__pycache__
app/melchiorapp/migrations/__pycache__
app/melchiorapp/models/__pycache__
app/melchiorapp/tests/__pycache__
app/melchiorapp/tests/models/__pycache__
app/melchiorapp/views/__pycache__/
dist
frontend/web-front/.next
frontend/web-front/node_modules
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/melchior/log
nginx/log

db/data/aria_log.00000001
db/data/aria_log_control
db/data/ib_logfile0
db/data/ib_logfile1
db/data/ibdata1
db/data/melchior
db/data/mysql
db/data/tc.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
